:root {
    --icon-color: royalblue;
    --header-color: darkslateblue;
    --year-color: slateblue;
    --font-size-lg: 21px;
    --font-size-md: 19px;
    --font-size-sm: 18px;
}

* {
    margin: 0;
    line-height: 1.2;
    font-size: var(--font-size-sm);
    font-family: 'Times New Roman', Times, sans-serif;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.page {
    background-color: snow;
    height: 1100px;
    width: 850px;
    border: 1px solid black;
    margin-inline: auto;
}

li {
    margin: 8px 0 6px 0;
    line-height: 1.1;
}

a {
    color: var(--header-color);
    text-decoration: none;
}

em {
    font-size: 19px;
}

.indent {
    padding-left: 45px;
}

.fa-award {
    color: var(--header-color);
}

.bold {
    font-weight: bold;
}

/* Header */
header {
    background-image: linear-gradient(to right, black, lightslategray, snow);
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.header-name {
    color: whitesmoke;
    font-size: 60px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 16px; 
}

.header-info {
    padding-right: 22px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.header-icons {
    text-align: center;
    padding-right: 10px;
}

.header-icons p {
    padding: 3px 0;
}

.header-data {
    text-align: left;
}

.header-data p {
    padding: 3px 0;
}

.header-icon {
    color: var(--icon-color);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.main-col-top {
    width: 100%;
}

.main-col-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.main-col-left {
    width: 49%;
}

.main-col-right {
    width: 49%;
}

/* Fields */
.field {
    width: 91%;
    margin-inline: auto;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 4px rgb(226, 226, 226);
}

legend {
    margin-left: 15px;
    padding: 0 15px;
    color: var(--year-color);
    font-size: var(--font-size-lg);
    font-weight: bold;
}

.inner-legend {
    margin-inline: auto;
    color: var(--header-color);
}

/* About */
.about {
    margin-bottom: 8px;
}

/* Skills */
.cert-card {
    padding-top: 10px;
}

.cert-field {
    border: 1px solid gray;
    box-shadow: 0 2px 3px lightGray;
}

.cert {
    text-align: center;
    line-height: 1.5;
    padding: 0 5px;
}

.school {
    font-style: italic;
    font-size: var(--font-size-md);
}

.year {
    color: var(--year-color);
}

.skillz p {
    padding-left: 15px;
}

.pro-field {
    margin-top: 9px;
    width: 91%;
    margin-inline: auto;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 4px rgb(226, 226, 226);
}

.pro-name {
    font-size: 21px;
    font-style: italic;
    padding: 0 10px;
}

.sm-space {
    padding-left: 3px;
}

.link-font {
    font-size: 17px;
}

/* Experience */
.exp {
    padding-bottom: 17px;
}

.work {
    border: none;
    border-top: 1px solid black;
    padding: 0;
    width: 80%;
}

.work-time {
    margin-inline: auto;
    padding: 0 22px;
    font-size: var(--font-size-sm);
    font-weight: normal;
    color: var(--year-color);
}

.work-info {
    text-align: center;
}

.work-list {
    padding-bottom: 1px;
}

/* Education */

.ed {
    background-color: snow;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    margin-top: 11px;
}

.ed-legend {
    margin-inline: auto;
    color: var(--header-color);
    padding: 0 4px;
    text-align: center;
}

.ed-deg {
    text-align: center;
    line-height: 1.5;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to bottom right, white, whitesmoke, lightslategray);
    padding-top: 7px;
    padding-bottom: 15px;
}

.footer-left {
    width: 60%;
    padding-top: 8px;
}

.footer-right {
    width: 40%;
}

/* Links */
.links-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.port {
    font-weight: bold;
    font-size: 17px;
}

.links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icons {
    text-align: right;
}

.space {
    width: 6%;
    text-align: center;
}

.urls {
    text-align: left;
}

.urls p, .icons p, .space p {
    padding-bottom: 2px;
}

.space p {
    padding-top: 1px;
}

.url-txt, .urls a, .icons a, .space a {
    font-size: 17px;
}