:root {
    --icon-color: rgb(33, 76, 204);
    --header-color: darkslateblue;
    --year-color: slateblue;
    --font-size-lg: 19px;
    --font-size-md: 18px;
    --font-size-sm: 17px;
}

* {
    margin: 0;
    line-height: 1.2;
    font-size: var(--font-size-sm);
    font-family: 'Times New Roman', Times, sans-serif;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.page {
    background-color: white;
    height: 1100px;
    width: 850px;
    border: 1px solid black;
    margin-inline: auto;
}

li {
    margin: 8px 0 6px 0;
    line-height: 1.1;
}

a {
    color: var(--header-color);
    text-decoration: none;
}

em {
    font-size: 19px;
}

.indent {
    padding-left: 45px;
}

.fa-award {
    color: var(--header-color);
}

.bold {
    font-weight: bold;
}

.sm-pad-r {
    padding-right: 2px;
}

/* Header */
header {
    background-image: linear-gradient(to right, black, lightslategray, white);
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.header-name {
    color: whitesmoke;
    font-size: 57px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 16px; 
}

/* Main */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.main-col-left {
    width: 49%;
}

.main-col-right {
    width: 50%;
}

/* Fields */
.field {
    width: 91%;
    margin-inline: auto;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 4px rgb(226, 226, 226);
}

legend {
    margin-left: 15px;
    padding: 0 15px;
    color: var(--year-color);
    font-size: var(--font-size-lg);
    font-weight: bold;
}

.inner-legend {
    margin-inline: auto;
    color: var(--header-color);
}

/* About */
.about-text {
    padding: 12px 10px 7px 12px;
}

.about-start {
    color: var(--year-color);
    font-size: var(--font-size-lg);
    font-weight: bold;
}

/* Skills */
.cert-card {
    padding-top: 10px;
}

.cert-field {
    border: 1px solid gray;
    box-shadow: 0 2px 3px lightGray;
}

.cert {
    text-align: center;
    line-height: 1.5;
    padding: 0 5px;
}

.school {
    /* font-weight: bold; */
    font-style: italic;
    font-size: var(--font-size-md);
}

.year {
    color: var(--year-color);
}

.skillz p {
    padding-left: 15px;
}

/* Project */
.pro-field {
    margin-top: 3px;
    width: 91%;
    margin-inline: auto;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 4px rgb(226, 226, 226);
}

.pro-field article {
    padding-bottom: 3px;
}

.pro-art-pad {
    padding-top: 4px;
}

.pro-name-container {
    text-align: center;
}

.pro-name {
    font-size: 21px;
    font-style: italic;
    color: black;
    padding-bottom: 2px;
}

.sm-space {
    padding-left: 3px;
}

.md-space {
    padding-left: 18px;
}

.link-font {
    /* padding-left: 19px; */
    font-size: 17px;
    color: var(--year-color);
}

/* Experience */
.exp {
    margin-top: 10px;
}

.work {
    border: none;
    border-top: 1px solid black;
    /* margin: 5px 0 6px 0; */
    padding: 0;
    width: 80%;
}

.work-time {
    margin-inline: auto;
    padding: 0 22px;
    font-size: var(--font-size-sm);
    font-weight: normal;
    color: var(--year-color);
}

.work-info {
    text-align: center;
}

.work-list {
    padding-bottom: 1px;
}

/* Footer */
footer {
    width: 100%;
    background-image: linear-gradient(to bottom right, white, whitesmoke, lightslategray);
    padding-top: 20px;
    padding-bottom: 12px;
}

/* Links */
.links-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.port {
    font-weight: bold;
    font-size: 17px;
}

.links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icons {
    text-align: right;
}

.space {
    width: 6%;
    text-align: center;
}

.urls {
    text-align: left;
}

.urls p, .space p, .icons p {
    padding-bottom: 3px;
}

.space p, .icons p {
    padding-top: 1px;
}