:root {
    --icon-color: royalblue;
    --header-color: darkslateblue;
    --year-color: slateblue;
    --font-size-lg: 21px;
    --font-size-md: 20px;
    --font-size-sm: 18px;
}

* {
    margin: 0;
    line-height: 1.2;
    font-size: var(--font-size-sm);
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.page {
    background-color: snow;
    height: 1100px;
    width: 850px;
    border: 1px solid black;
    margin-inline: auto;
}

li {
    margin: 7px 0;
}

a {
    color: var(--header-color);
    text-decoration: none;
}

em {
    font-size: 19px;
}

.indent {
    padding-left: 30px;
}

.fa-award {
    color: var(--header-color);
}

/* Header */
header {
    background-image: linear-gradient(to right, black, lightslategray, snow);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

.header-name {
    color: whitesmoke;
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 12px;
    margin-left: 16px; 
}

.header-info {
    padding-right: 22px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.header-icons {
    text-align: center;
    padding-right: 10px;
}

.header-icons p {
    padding: 3px 0;
}

.header-data {
    text-align: left;
}

.header-data p {
    padding: 3px 0;
}

.header-icon {
    color: var(--icon-color);
}

/* Main */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.main-col-left {
    width: 49%;
}

.main-col-right {
    width: 49%;
}

/* Fields */
.field {
    width: 91%;
    margin-inline: auto;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 2px 4px lightGray;
}

legend {
    margin-left: 15px;
    padding: 0 15px;
    color: var(--year-color);
    font-size: var(--font-size-lg);
    font-weight: bold;
}

.inner-legend {
    margin-inline: auto;
    color: var(--header-color);
}

/* About */
.about {
    margin-bottom: 10px;
}

/* Skills */
.cert-card {
    padding-bottom: 10px;
}

.cert-field {
    border: 1px solid gray;
    box-shadow: 0 2px 3px lightGray;
}

.cert {
    text-align: center;
    line-height: 1.5;
}

.school {
    /* font-weight: bold; */
    font-style: italic;
    font-size: var(--font-size-md);
}

.year {
    color: var(--year-color);
}

.skillz {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.skill-list {
    text-align: left;
}

.skill-list h4 {
    text-decoration: underline;
    margin: 3px 0;
}

.skill-list p {
    padding-left: 28px;
}

/* Experience */
.exp {
    margin-bottom: 14px;
}

.work {
    border: none;
    border-top: 1px solid black;
    /* margin: 5px 0 6px 0; */
    padding: 0;
    width: 80%;
}

.work-time {
    margin-inline: auto;
    padding: 0 22px;
    font-size: var(--font-size-sm);
    font-weight: normal;
    color: var(--year-color);
}

.work-info {
    text-align: center;
}

.work-list {
    padding-bottom: 5px;
}

/* Education */
.ed-card {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ed-field {
    width: 88%;
    border: 1px solid gray;
    box-shadow: 0 2px 3px lightGray;
}

.ed-deg {
    margin: 3px 0;
    text-align: center;
    line-height: 1.5;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to bottom right, white, whitesmoke, lightslategray);
    padding-top: 12px;
    padding-bottom: 27px;
}

/* Links */
.links-container {
    width: 58%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}

.port {
    font-weight: bold;
    font-size: 17px;
}

.links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icons {
    /* width: 30%; */
    text-align: right;
}

.icons a {
    padding-bottom: 3px;
}

.space {
    width: 6%;
    text-align: center;
}

.space a {
    padding-bottom: 3px;
}

.urls {
    text-align: left;
}

.urls a {
    padding-bottom: 3px;
    font-size: 17px;
}

/* References */
.ref {
    background-color: snow;
    width: 35%;
}