/* GLOBAL SETTINGS */

:root {
  --bg-color: #0c0a16;
  --fieldset-bg-color: #0c0a16f1;
  --bg-dk-color: #020405;
  --txt-color: #e2ead8;
  --txt-dk-color: #32c9d7;
  --txt-trans-color: #74e5efcc;
  --big-font: 'Times New Roman', Times, serif;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  line-height: 1.5;
}



/* code copied and modified from W3 Schools */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: var(--bg-dk-color); 
}
 
::-webkit-scrollbar-thumb {
  background: #777; 
}

::-webkit-scrollbar-thumb:hover {
  background: #444; 
}


/* Animations */
@keyframes btn-hover {
  from {background-color: var(--txt-dk-color); color: black;}
  to {background-color: black; color: var(--txt-dk-color);}
}

@keyframes link-hover {
  from {color: var(--txt-color); bottom: 0;}
  to {color: var(--txt-dk-color); text-shadow: 0 1px 3px var(--txt-trans-color); bottom: 3px;}
}

@keyframes sm-link-hover {
  from {color: var(--txt-color); bottom: 0;}
  to {color: var(--txt-dk-color); text-shadow: 0 1px 2px var(--txt-trans-color); bottom: 2px;}
}

@keyframes readmore-click {
  from {opacity: 1; bottom: 0;}
  to {opacity: 0; bottom: 30px;}
}

@keyframes img-link-hover {
  from {width: 300px; bottom: 0;}
  to {width: 302px; bottom: 2px; box-shadow: 0 1px 3px black;}
}

body { 
  font-size: 1.1rem;
  background-image: url('../assets/images/carlos-alfonso-skyline-clip-resize-bw.png');
  background-position: center top;
  background-position: -webkit-sticky;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.italic {
  font-style: italic;
}

.color-2 {
  color: var(--txt-dk-color);
}

.txt-center {
  text-align: center;
}

a {
  text-decoration: none;
  position: relative;
  color: var(--txt-color);
  margin: 3px 0;
}

a:visited {
  color: var(--txt-color);
}

li {
  margin-bottom: 5px;
}

/* App.js */
.App {
  color: var(--txt-color);
}

/* Header Component */
header {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: var(--bg-color);
  box-shadow: 0 -1px 4px var(--txt-color);
  /* padding-bottom: 3px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

header h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px black;
  font-family: var(--big-font);
  font-size: 1.4rem;
  color: var(--txt-dk-color);
  font-style: italic;
}

header h1 a:hover {
  color: var(--txt-dk-color);
  text-shadow: none;
}

nav {
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.nav-link {
  font-size: 1.1rem;
  position: relative;
  font-family: var(--big-font);
}

.nav-link:hover {
  animation-name: link-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.nav-link.active {
  color: var(--txt-dk-color);
  text-shadow: 0 1px 2px black;
  animation-name: none;
}

/* Main */
main {
  padding: 10vh 0;
}

/* Form Components */

.Contact {
  padding-inline: auto;
  margin-top: 40px;
}

form {
  width: 94vw;
  margin: 0 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--fieldset-bg-color);
}

legend {
  font-size: 1.5rem;
  margin-inline: auto;
  text-shadow: 0 -1px 1px black;
}

label {
  font-size: 1.2rem;
}

.form-input {
  width: 95%;
  height: 1.6rem;
  border-radius: 5px;
}

.form-text {
  width: 95%;
  height: 22vh;
  border-radius: 5px;
}

.form-btn {
  margin-top: 8px;
  width: 120px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.form-btn:hover {
  cursor: pointer;
}

/* Home */
.Home {
  display: flex;
  justify-content: center;
}

.home-header {
  font-family: var(--big-font);
  color: var(--txt-dk-color);
}

.profile {
  width: 90%;
  margin-top: 10vh;
  padding: 5px 2px 5px 15px;
  background-color: var(--fieldset-bg-color);
}

.profile h2 {
  text-align: center;
  color: var(--txt-dk-color);
}

.profile-txt {
  padding-right: 8px;
}

.profile-txt p {
  padding: 6px 0;
  font-size: 1rem;
  font-weight: lighter;
  /* font-style: italic; */
}

.profile-txt p a {
  color: slateblue;
}

/* About Form */
/* .about-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-bio {
  width: 95%;
  margin-top: 33px;
  padding-top: 11px;
} */

.About {
  width: 100%;
  padding: 0 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.about-bio {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 33px;
  padding: 11px;
  background-color: var(--fieldset-bg-color);
  box-shadow: 0 1px 2px black;
}

.about-header {
  font-family: var(--big-font);
  color: var(--txt-dk-color);
  font-size: 1.5rem;
}

.indent {
  padding-left: 45px;
}

.indent-sm {
  padding-left: 15px;
}

.indent-xs {
  padding-left: 8px;
}

.readmore-btn-container {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.readmore-btn {
  background-color: var(--txt-dk-color);
  color: black;
  padding: 2px 14px;
  border: 1px solid var(--txt-dk-color);
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 10px;
}

.readmore-btn:hover {
  text-shadow: none;
  cursor: pointer;
  animation-name: btn-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.disappear {
  position: relative;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--txt-dk-color);
  padding: 0;
  margin: 0;
  animation-name: readmore-click;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

/* Portfolio Component */
.Portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* Project Component */
.Project {
  width: 300px;
  box-shadow: 0 0 2px var(--txt-color);
  margin: 30px;
  padding-bottom: 4px;
  text-align: center;
  background-color: var(--bg-color);
}

.Project h3 {
  margin: 5px 0;
}

.img-link img {
  position: relative;
  height: 270px;
  width: 300px;
}

.img-link img:hover {
  animation-name: img-link-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.link {
  font-size: 1.1rem;
  position: relative;
}

.app-title {
  font-size: 1.3rem;
  position: relative;
}

.link:hover {
  animation-name: sm-link-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.app-title:hover {
  animation-name: sm-link-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* Resume Component */

.Resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 28px;
}

.resume-btn-container {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.resume-btn a {
  background-color: var(--txt-dk-color);
  color: black;
  padding: 5px 14px;
  border: 1px solid var(--txt-dk-color);
  border-radius: 6px;
}

.resume-btn a:hover {
  text-shadow: none;
  color: var(--txt-dk-color);
  background-color: black;
}

/* .resume-dl-link {
  width: 100%;
  text-align: center;
  margin-bottom: 55px;
}

.resume-dl-link a {
  color: var(--bg-dk-color);
}

.resume-dl-link a:hover {
  color: var(--txt-dk-color);
  text-shadow: 0 0 2px black;
} */

.resume-fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 33px;
}

.resume-card {
  width: 94vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--fieldset-bg-color);
  box-shadow: 0 1px 2px black;
  margin-bottom: 15px;
}

.resume-card-header {
  font-family: var(--big-font);
  color: var(--txt-dk-color);
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 10px;
}

.skills-text {
  padding: 0 0 0 5px;
}

/* Footer Component */
footer {
  width: 100%;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dk-color);
  position: fixed;
  bottom: 0;
  padding-top: 3px;
  box-shadow: 0 0 2px var(--bg-color);
}

/* footer {
  position: fixed;
  bottom: 0;
  padding-top: 1vh;
  box-shadow: 0 -2px 3px var(--bg-color);
} */

footer div {
  width: max-content;
}

.footer-left {
  text-align: center;
  font-size: 0.7rem;
}

.footer-left a {
  color: slateblue;
}

.footer-right {
  text-align: center;
}

.footer-link {
  margin: 0 22px;
  position: relative;
}

.footer-link:hover {
  color: var(--txt-dk-color);
  animation-name: link-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.footer-link svg {
  height: 23px;
}

/* NoMatch Component */
.nomatch {
  text-align: center;
  padding-top: 20vh;
}

@media screen and (min-width: 512px) {
  /* .profile {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 90%;
  } */

  .about-bio {
    width: 94vw;
  }
}

@media screen and (min-width: 720px) {

  /* Header */
  header {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 45px;
  }
  
  header h1 {
    width: 33vw;
    font-size: 1.7rem;
  }

  nav {
    width: 67%;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  legend {
    margin-left: 20px;
  }

  .about-bio, .profile {
    width: 780px;
  }

  .Resume {
    margin-top: 17px;
  }

  .center-legend {
    margin-inline: auto;
  }

  .resume-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }

  .resume-card {
    width: 45%;
  }

  footer {
    height: 45px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
 
  .footer-left {
    padding-left: 1vw;
  }
  
  .footer-right {
    padding-right: 1vw;
  }

  .footer-link {
    margin: 35px;
  }

  /* Forms */
  .Contact, .About, .Bio, .Resume {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  form {
    width: 680px;
  }
}

@media screen and (min-width: 1080px) {
  header {
    height: 58px;
  }

  header h1 {
    font-size: 2.1rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .Resume {
    margin-top: 22px;
  }

  .skills-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .skills-group-card {
    flex: 0 0 48%;
    display: flex;
    justify-content: center;
  }
}